 *{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }
 
 .CodeMirror{
    height: 300px !important;
    color: #ffff !important ;
 }
 .CodeMirror-gutter{
    background: #000000 !important;
 }
 .CodeMirror-scroll{
    background:#1d1e22 !important;
 }